body {
	font-family: helvetica;
	background: #009688;
	margin: 0;
}

#container {
}

#inner {
	padding: 25px;
}

#sidebar {
	text-align: center;
	position: fixed;
	width: 15%;
	height: 100%;
	background: #00796B;
}

input {
	font-size: 15px;
	float: left;
	width: 70%;
	padding: 25px;
	color: #FFFFFF;
	border: 0;
	background: #00796B;
}

input::placeholder {
	color: #BDBDBD;
}

#login-main input {
	width: 100%;
	padding: 15px;
	margin-bottom: 5px;
}

.add-todo-button {
	font-size: 15px;
	font-weight: bold;
	float: left;
	width: 30%;
	cursor: pointer;
	background: #FFC107;
	padding: 25px;
	color: #FFFFFF;
	border: 0;
}

.add-todo-button:hover {
    background: #ffca28;
}

#login-main button {
	width: 100%;
	cursor: pointer;
	padding: 15px;
	margin-bottom: 5px;
}

#todo-main {
	margin-left: 15%;
}

#login-main {
	width: 25%;
	position: relative;
	top: 30%;
	margin: auto;
}

#login-main img {
	padding: 20px;
}

#todos {
	color: #212121;
	margin-top: 100px;
	background: #FFFFFF;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#todo-item {
	margin-left: 10px;
	padding: 20px;
	float: left;
}

#todo-container {
	/* margin: 0 auto;
	width: 100%; */
}

#todo-tag {
	width: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	float: left;
}

#todo-time {
	float: right;
	padding: 20px;
	font-size: 10px;
}

li:hover {
	background: #EFEFEF;
}

.error {
	text-align: center;
	display: grid;
	font-size: 15px;
	padding: 5px;
	color: #FFFFFF;
	background: #D32F2F;
}

.center-h {
	display: block;
	margin: auto;
}

.todo-tag-def {
	background: #DFDFDF;
}

.todo-tag-red {
	background: #F44336;
}

.todo-tag-blue {
	background: #2196F3;
}

.todo-tag-green {
	background: #4CAF50;
}

.todo-tag-orange {
	background: #FF9800;
}

.todo-tag-pink {
	background: #FF4081;
}
